<html>

<head>
    <title>Laura Nuñez PerfectSkin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="estilos.css" type="text/css" rel="stylesheet">
</head>

<body>
    <table id="header">
        <tr>
            <td style="width: 2%;text-align: center;"><a style="text-decoration: none;color: white; font-size: 18px"
                    href="https://m.facebook.com/perfectskin_ctg-112652640494465/?_rdr" target="_blank"><img
                        src="/ProyectoWeb_PSCTG/imagenes/facebook.png"></a></td>
            <td style="width: 2%;text-align: center;"><a style="text-decoration: none;color: white; font-size: 18px"
                    href="https://www.instagram.com/perfectskin_ctg/" target="_blank"><img
                        src="/ProyectoWeb_PSCTG/imagenes/instagram.png"></a></td>
            <td style="width: 96%;text-align: right;"><a
                    style="text-decoration: none;color: white; font-size: 18px;font-family: Arial;"
                    href="/ProyectoWeb_PSCTG/usuario.php">Registrarse</a></td>
            <td style="width: 5%;color:white;height: 5px">|</td>
            <td style="width: 96%;text-align: right;"><a
                    style="text-decoration: none;color: white; font-size: 18px;font-family: Arial;"
                    href="/ProyectoWeb_PSCTG/views/login_ingreso.php">Ingresar</a></td>
        </tr>
    </table>

    <!--Puede contener algunos elementos de encabezado, así como también un logo-->
    <div id="opciones">
        <!--Encabezado principal-->
        <ul class="nav">
            <!--<li><img src="imagenes/Imagen PYME.png" width="100%"></li>-->
            <li><a href="index.html">Home</a></td>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="servicios.php">Servicios</a>
                <ul>
                    <!--Encabezado Secundario-->
                    <li><a href="cita.php">Citas</a></li>
                </ul>
            </li>
            <li><a href="acerca.html">Acerca de</a>
                <!--Encabezado secundario-->
                <ul>
                    <li><a href="experienciaclientes.html">Experiencias de clientes</a></li>
                    <li><a href="consejos.html">Consejos</a></li>
                </ul>
            </li>
            <li><a href="/ProyectoWeb_PSCTG/contacto.php">Contacto</a></li>
        </ul>
    </div>

    <table style="float: left;width: 100%;">
        <td>
            <hr width="100%" size="1" color="#F7F9F9">
        </td>
    </table>

    <table class="panelcentral">
        <tr>
            <td>
                <p></p>
                <ul class="slidert1">
                    <li>
                        <input type="radio" id="sbutton1" name="sradio" checked="">
                        <label for="sbutton1"></label>
                        <img src="/ProyectoWeb_PSCTG/imagenes/Pregunta1.PNG" alt="">
                    </li>
                    <li>
                        <input type="radio" id="sbutton2" name="sradio">
                        <label for="sbutton2"></label>
                        <img src="/ProyectoWeb_PSCTG/imagenes/Respuesta1.PNG" alt="">
                    </li>
            </td>
        </tr>
        <tr>
            <td>
                <p></p>
                <ul class="slidert2">
                    <li>
                        <input type="radio" id="sbuttont1" name="sradiot1" checked="">
                        <label for="sbuttont1"></label>
                        <img src="/ProyectoWeb_PSCTG/imagenes/Pregunta2.PNG" alt="" width="100%">
                    </li>
                    <li>
                        <input type="radio" id="sbuttont2" name="sradiot1">
                        <label for="sbuttont2"></label>
                        <img src="/ProyectoWeb_PSCTG/imagenes/Respuesta2.PNG" alt="">
                    </li>
            </td>
            </ul>
        </tr>
    </table>

    <div class="caja-fija">
        <a href="https://wa.me/message/RTRPR4CP4ISWF1" target="_blank"><img
                src="/ProyectoWeb_PSCTG/imagenes/whatsapp.png" alt=""></a>
    </div>

    <footer class="mapa">
        <div>
            <p>Laura Nuñez Perfectskin</p>
            <p>«Copyright © 2020 | Laura Nuñez»<br>Tel: 3005615455<br><br>Correos:
                Laumarru14@gmail.com<br>lnperfectskin584@gmail.com
            </p>
            <p></p>
            <p></p>
        </div>
    </footer>
</body>

</html>