<html>
    <head>
        <title>Laura Nuñez PerfectSkin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link href="estilos.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <table id="header">
            <tr>
            <td style="width: 2%;text-align: center;"><a style="text-decoration: none;color: white; font-size: 18px" href="https://m.facebook.com/perfectskin_ctg-112652640494465/?_rdr" target="_blank"><img src="/ProyectoWeb_PSCTG/imagenes/facebook.png"></a></td>
            <td style="width: 2%;text-align: center;"><a style="text-decoration: none;color: white; font-size: 18px" href="https://www.instagram.com/perfectskin_ctg/" target="_blank"><img src="/ProyectoWeb_PSCTG/imagenes/instagram.png"></a></td>
            <td style="width: 96%;text-align: right;"><a style="text-decoration: none;color: white; font-size: 18px;font-family: Arial;" href="/ProyectoWeb_PSCTG/cliente.php">Registrarse</a></td>
            <td style="width: 5%;color:white;height: 5px">|</td>
            <td style="width: 96%;text-align: right;"><a style="text-decoration: none;color: white; font-size: 18px;font-family: Arial;" href="/ProyectoWeb_PSCTG/views/login_ingreso.php">Ingresar</a></td> 
            </tr>
        </table>

        <!--Puede contener algunos elementos de encabezado, así como también un logo-->
        <div id="opciones">
                <!--Encabezado principal-->
                <ul class="nav">
                    <!--<li><img src="imagenes/Imagen PYME.png" width="100%"></li>-->
                    <li><a href="index.html">Home</a></td>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="servicios.php">Servicios</a>
                        <ul>
                            <!--Encabezado Secundario-->
                            <li><a href="agenda.php">Agenda</a></li>
                        </ul>
                     </li>
                     <li><a href="acerca.html">Acerca de</a>
                     <!--Encabezado secundario-->
                        <ul>
                            <li><a href="experienciaclientes.html">Experiencias de clientes</a></li>
                            <li><a href="consejos.html">Consejos</a></li>
                        </ul>
                     </li>
                     <li><a href="/ProyectoWeb_PSCTG/contacto.php">Contacto</a></li>
                </ul> 
        </div>

        <table style="float: left;width: 100%;">
            <td><hr width="100%" size="2" color="#F7F9F9"></td>
        </table>
            
        <table id="quienessomos">
            <tr>
                <td style="width: 10%;"></td>
                <td style="width: 40%;text-align: center;"><img src="/ProyectoWeb_PSCTG/imagenes/equipo.png"></td>
                <td style="width: 10%;"></td>
            </tr>
            <tr>
                <td style="width: 25%;"></td>
                <td style="width: 50%;"><h1 style="text-align: center;">Quienes somos?</h1></td>
                <td style="width: 25%;"></td>
            </tr>
            <tr>
                <td style="width: 20%"></td>
                <td style="width: 40%"><br><p style="text-align: justify;font-family: Arial;">Laura Nuñez Perfectskin es una idea de negocio que surgió como una oportunidad para incursionar en el ámbito laboral de forma independiente, ofreciendo a las personas un servicio de calidad y con personal capacitado en el área de la estética y cosmetología. Desarrollando un centro de belleza estética en el que se ofrecen servicios para el cuidado de la piel, tanto facial corporal y la venta de productos dermocosmeticos.
                    En la parte del cuidado facial manejamos tratamiento para todo tipo de piel, limpieza facial, extracción de comedones (puntos negros y blancos), hidrataciónes, microdermoabrasion, depilación facial y Luminous face; este último es nuestro tratamiento estrella, es un innovador tratamiento médico-estético de micropunción que estimula la producción de colágeno y elastina natural, reforzando y mejorando la piel de manera efectiva y rápida, para conseguir rejuvenecer tu rostro, reduciendo arrugas, poros dilatados,acne, cicatrices, manchas.
                    Esta idea, proporciona captar diversos perfiles de clientela coincidente en la demanda de estos servicios, para cuidado de su imagen y que podrían segmentarse por edades y sexos: Jóvenes desde los 13 años de edad con imperfecciones en la piel, Hombres y mujeres con problemas dermatológicos cicatrices de acne y manchas.</p></td>
            <td style="width: 25%"></td>
                </tr>     
        </table>

        <table style="float: left;width: 100%;">
            <td><hr width="100%" size="10" color="white"></td>
        </table>

        <table id="v">
            <tr>
                <td style="width: 25%;"></td>
                <td style="background-color: #F5B7B1;width: 15%;"><img src="/ProyectoWeb_PSCTG/imagenes/IV.png" height="250px" width="100%"></td>
                <td style="font-family: Arial;width: 35%;background-color: #F5B7B1;"><h1 style="text-align: start; ;"><img src="/ProyectoWeb_PSCTG/imagenes/vision.png">Visión</h1><br><p style="text-align: justify;font-family: Arial;">Brindar a todos los clientes la experiencia y conocimiento máximo en belleza estética, para esto se cuenta con personal altamente calificado y preparado en todas las áreas como, limpiezas faciales, masajes relajantes, depilación, entre otras, con el propósito de complacer y de lograr la satisfacción del cliente.</p></td>
                <td style="width: 25%;"></td>
            </tr>
           
        </table>

        <table id="m">
            <tr>
                <td style="width: 25%;"></td>
                <td style="width: 35%;"><h1 style="text-align: end;font-family: Arial;"><img src="/ProyectoWeb_PSCTG/imagenes/Misión.png">Misión</h1><br><p style="text-align: justify;font-family: Arial;">Ser altamente reconocidos por prestar un servicio amplio y de calidad sobre la belleza con originalidad al gusto de cada cliente y comodidad, brindando un mejor aspecto a su imagen y su interior.</p></td>
                <td style="width: 15%;"><img src="/ProyectoWeb_PSCTG/imagenes/IM.JPEG" height="200px" width="100%"></td>
                <td style="width: 24%;"></td>
            </tr>
        </table>

        <br><br><br><br><br>
        
        <div class="mapa">
            <img src="/ProyectoWeb_PSCTG/imagenes/mapa.png" alt="mapa"><h2 style="font-family: Arial;">Ubicación</h2>
            <br><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.961230784959!2d-75.5430588858861!3d10.424651268440256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef62f9cc3222941%3A0x4b4fa23b82d1e15a!2sMallplaza%20Cartagena!5e0!3m2!1ses!2sco!4v1651432828899!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <br><br>
            <footer>
                <hr size="1" width="100%" color="black">
                <div>
                    <p>Laura Nuñez Perfectskin</p>
                    <p>«Copyright © 2020 | Laura Nuñez»<br>Tel: 3005615455<br><br>Correos: Laumarru14@gmail.com<br>lnperfectskin584@gmail.com
                    </p>
                    <p></p>
                    <p></p>
                </div>
            </footer>
        </div>

        <div class="caja-fija">
            <a href="https://wa.me/message/RTRPR4CP4ISWF1" target="_blank"><img src="/ProyectoWeb_PSCTG/imagenes/whatsapp.png" alt=""></a>
        </div>

    </body>
    
</html>